[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
migrate = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
faker = "*"
cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
